.container {
    width: 10%;
    height: 100vh;
    position: relative;
  }
  
  .image-gauche {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
  }
  
  .image-droite img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  